

.auth-container {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-background-secondary);
    flex-direction: column;
}

.auth-form {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-primary);
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.auth-form h2 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--text-color);
}

.form-group {
    margin-bottom: 1rem;
    width: 95%;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--color-text-primary);
}

.form-group input {
    width: -webkit-fill-available;
    padding: 0.75rem;
    border: 1px solid var(--color-border-primary);
    border-radius: 4px;
    font-size: 1rem;
}

.submit-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--color-accent-primary);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.submit-btn:hover {
    background-color: var(--color-accent-hover);
}

.form-group input:focus {
    outline: none;
    border-color: var(--color-border-primary);
    box-shadow: 0 0 0 2px rgba(0,123,255,0.25);
}

.form-container {
    display: flex;
    flex-direction: column; 
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    align-items: center;
    opacity: 1;
}

.hidden {
    display: none;
}

.auth-container-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.auth-container-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.75rem;
    color: var(--color-text-primary);
    background-color: var(--color-background-primary);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

