
services:
  db:
    container_name: db
    restart: always
    image: postgres:14.1-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./db/data:/var/lib/postgresql/data
    ports:
      - 5434:5432
    networks:
      - custom
      
  # db_test:
  #   container_name: db_test
  #   restart: always
  #   image: postgres:14.1-alpine
  #   environment:
  #     POSTGRES_USER: postgres_test
  #     POSTGRES_PASSWORD: postgres_test
  #     POSTGRES_DB: postgres_test
  #   ports:
  #     - 5435:5432
  #   networks:
  #     - custom
networks:
  custom:
    driver: bridge
